body {
  margin: 0 auto;
  text-align: left;
}

.card {
  position: relative;
  display: flex;
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
  width: 80%;
}

.input_box {
  position: relative;
  display: flex;
  min-width: 100px;
}

.temperature {
  font-size: 50px;
}

h2 {
  font-size: 15px;
}

h3 {
  font-size: 15px;
}
